# Java specific
*.class
*.jar
*.war
*.ear
out/

# Maven
target/
*.log
pom.xml.versionsBackup
pom.xml.lock

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Eclipse
*.classpath
*.project
*.settings/

# NetBeans
nbproject/

# VS Code
.vscode/*
!.vscode/launch.json

# MacOS specific
.DS_Store

# Windows specific
Thumbs.db

# Log files
*.log

# Python specific
__pycache__/
*.pyc
.venv/
venv/

# Pre-commit
.ruff_cache/
